# Pandas Data Indexing and Selection Coding Practice Questions

1. Create a Pandas Series named `s` with indices as letters from 'a' to 'e' and values as integers from 1 to 5. Display the Series.

2. Using the Series `s`, select the value at index 'c'.

3. Using the Series `s`, select values at indices 'a', 'c', and 'e'.

4. Using the Series `s`, select all values greater than 2.

5. Create a DataFrame named `df` with columns 'A', 'B', 'C' and values from 1 to 9. Display the DataFrame.

6. Using the DataFrame `df`, select the value at row 1 and column 'B'.

7. Using the DataFrame `df`, select the entire row with index 2.

8. Using the DataFrame `df`, select the entire column named 'C'.

9. Using the DataFrame `df`, select values from column 'A' where values in column 'B' are greater than 2.

10. Using the DataFrame `df`, select values from columns 'A' and 'C' for rows with index 0 and 2.

11. Using the DataFrame `df`, change the value at row 1 and column 'B' to 10.

12. Using the DataFrame `df`, add a new column 'D' with values as the sum of columns 'A' and 'B'.

13. Using the DataFrame `df`, drop the column named 'C'.

14. Using the DataFrame `df`, filter rows where the value in column 'A' is even.

15. Using the DataFrame `df`, set the index of the DataFrame to be the values in column 'A'.

16. Using the DataFrame `df`, reset the index of the DataFrame.

17. Using the DataFrame `df`, select all rows where the index is greater than 2.

18. Using the DataFrame `df`, select all rows where the values in column 'B' are in the list [2, 4, 6].

19. Using the DataFrame `df`, use the `.loc` method to select values from column 'A' for rows with index 1 and 3.

20. Using the DataFrame `df`, use the `.iloc` method to select values from the first column for the first and third rows.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Solution to Question 1
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s

In [ ]:
# Solution to Question 2
s['c']

In [ ]:
# Solution to Question 3
s[['a', 'c', 'e']]

In [ ]:
# Solution to Question 4
s[s > 2]

In [ ]:
# Solution to Question 5
df = pd.DataFrame({'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]})
df

In [ ]:
# Solution to Question 6
df.loc[1, 'B']

In [ ]:
# Solution to Question 7
df.loc[2]

In [ ]:
# Solution to Question 8
df['C']

In [ ]:
# Solution to Question 9
df['A'][df['B'] > 2]

In [ ]:
# Solution to Question 10
df.loc[[0, 2], ['A', 'C']]

In [ ]:
# Solution to Question 11
df.loc[1, 'B'] = 10
df

In [ ]:
# Solution to Question 12
df['D'] = df['A'] + df['B']
df

In [ ]:
# Solution to Question 13
df.drop(columns='C', inplace=True)
df

In [ ]:
# Solution to Question 14
df[df['A'] % 2 == 0]

In [ ]:
# Solution to Question 15
df.set_index('A', inplace=True)
df

In [ ]:
# Solution to Question 16
df.reset_index(inplace=True)
df

In [ ]:
# Solution to Question 17
df[df.index > 2]

In [ ]:
# Solution to Question 18
df[df['B'].isin([2, 4, 6])]

In [ ]:
# Solution to Question 19
df.loc[[1, 3], 'A']

In [ ]:
# Solution to Question 20
df.iloc[[0, 2], 0]